body{
    background-color: black;
    
}

/* start home */
.container-setting{
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    position: fixed;
    z-index: 1000000000000000;

}
.nav-content{
    width: 230px;
    min-height: 100vh;
    background-color: black;
}
.control-setting{
    width: 70px;
    min-height: 100vh;
    background-color: white;
    
}
.nav-item ul li a{
    text-decoration: none;
    color: white !important;
    position: relative;
    top: 300px;
    transition: color .3s;
    
   
}
.nav-item ul li a:hover{
    
    color: crimson !important;
  
}
#close-base-icon{
    display: none;
}
.nav-item ul li{
    list-style-type: none;
    padding: .5rem 0;
    
}
.nav-side-icon{
    color:white !important ;
    cursor: pointer;
}
.copy-right{
    color:white !important ; 
    
}
.nav-item ul li a.active{
    color: crimson !important;
}

.nav-item ul{
    padding: 0;
    margin: 0;
}
.base-icon-control{
    cursor: pointer;
}
.second-side-icon{
    cursor: pointer;
}


.name-of-meal{
    top: 100%;
    left: 00px;
    height: 100%;
    width: 100%;
    background-color: white;
   display: flex;
   align-items: center;
   padding-left: 10px;
  
   transition: top .5s;
   
}
.home-meals:hover {
    
    cursor: pointer;

}
.col-md-4:hover .name-of-meal{
    top: 0;
    cursor: pointer;

}
.col-md-3:hover .name-of-meal{
    top: 0;
    cursor: pointer;

}
/* start moaal */

.modal-body,.modal-header{
    background-color:black !important;
    border: none;
    color: white !important;
   
}
.btn-close{
    color: white !important;
    font-size: 1.5rem;
    
}

/* end modal */
/* end home */


/* start area */
.custome-color{
    color: white;
}
/* end area */


/* start search */
.special-width{
    width: 88%;
}

.special-font{
    font-size: 1.75rem !important;
}

/* end search */

.loading {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: #272b30e3;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid white;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
 }
 .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 4px solid #ff3d00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
 }
 

 